{% extends 'base.html.twig' %}

{% block title %} {{ current_office.name }} {% endblock %}

{% block body %}
<div class="col-md-10">
    {# start office map from react #}
    <div class="row">
        <div id="office-map"
             data-office-id="{{ current_office.id }}"
             data-office-name="{{ current_office.name }}"
        ></div>
    </div>
    {# end office map from react #}
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('office_map_react') }}
{% endblock %}