{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}
    <h1>Current occupancy</h1>
{% endblock %}

{% block main %}
    <div class="container-fluid">
        {# Loop through each office and create a card #}
        <h3>Real-time occupancy in offices</h3>
        {% for office in offices %}
        <div class="row mb-3">
                <div class="col-6 col-md-3">
                    <div class="dashboard-stat card">
                        <div class="card-body d-flex align-items-center">
                            <h3 class="card-title mb-0">{{ office.currentPersons }} / {{ office.capacity }}</h3>
                        </div>
                        <footer class="card-footer bg-primary text-white">
                            {{ office.name }}
                        </footer>
                    </div>
                </div>
{#                <div class="col-6 col-md-3">#}
{#                    <div class="dashboard-stat card">#}
{#                        <div class="card-body d-flex align-items-center">#}
{#                            <h3 class="card-title mb-0">{{ office.capacity }}</h3>#}
{#                        </div>#}
{#                        <footer class="card-footer bg-success text-white">#}
{#                            Empty Seats in {{ office.name }}#}
{#                        </footer>#}
{#                    </div>#}
{#                </div>#}
        </div>
        {% endfor %}
    </div>
{% endblock %}
