{% extends 'base.html.twig' %}

{% block title %}Free seats{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center">
        <div class="col-md-8 mt-2">
            <h2 class="font-weight-bold bg-light rounded mx-auto text-center" style="opacity: 0.9;">
                Currently available seats
                </h2>
            <form method="GET" action="{{ path('app_seats_free') }}" class="mb-3 d-flex inline-search">
                <input type="datetime-local" name="fromDateTime" class="form-control" placeholder="From Date Time" value="{{ fromDateTime }}" />
                <input type="datetime-local" name="toDateTime" class="form-control" placeholder="To Date Time" value="{{ toDateTime }}" />
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
            <div class="table-responsive" style="max-height: 70vh; overflow-y: auto;">
                <table class="modern-table">
                <thead>
                <tr>
                    <th>Seat ID</th>
                    <th>Office</th>
                </tr>
                </thead>
                <tbody>
                {% for seat in availableSeats %}
                    <tr>
                        <td>{{ seat.id }}</td>
                        <td>{{ seat.office }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="7">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}