{% extends 'base.html.twig' %}

{% block body %}
    <div class="d-flex justify-content-center">
        <div class="col-md-8 mt-2">
            <h2 class="font-weight-bold bg-light rounded mx-auto text-center" style="opacity: 0.9;">
	            {{ person.fullName }}
            </h2>
            <div class="table-responsive">
                <table class="modern-table">
                    <tbody>
                    <tr>
                        <th>ID</th>
                        <td>{{ person.id }}</td>
                    </tr>
                    <tr>
                        <th>First Name</th>
                        <td>{{ person.firstName }}</td>
                    </tr>
                    <tr>
                        <th>Last Name</th>
                        <td>{{ person.lastName }}</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>{{ person.email }}</td>
                    </tr>
                    <tr>
                        <th>Job Title</th>
                        <td>{{ person.jobTitle }}</td>
                    </tr>
                    <tr>
                        <th>Current status</th>
                        <td>{{ currentAssignment ?
                            'Currently sitting at seat ' ~ currentAssignment.getSeat() ~
                            ' from ' ~ from ~ ' ' ~
                            ' to ' ~ to ~ '.'
                            : 'Out of office' }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
